<div style="text-align: center;">
<h1>Hey There!</h1>
<br>
<h3>Kit is currently offline for maintenance.</h3>
<br>
<h5>Don't fret. We will return.</h5>
<br>
<img src="http://kit-production-ad-images.s3.amazonaws.com/kit-logo.jpg" height="100", width="100"></img>
</div>